@use "sass:math";
@use "sass:map";

@function rem($pixel, $context: 16) {
   @return math.div($pixel, $context)+rem;
}

$typography-sizes: (
   12:rem(12),
   14:rem(14),
   16:rem(16),
   18:rem(18),
   20:rem(20),
   22:rem(22),
   28:rem(28)
);

$font-primary  : sans-serif;
$font-secondary: sans-serif;

@mixin font-size($size) {
   @if map.has-key($typography-sizes, $size) {
      font-size: map.get($typography-sizes, $size);
   }

   @else {
      @warn "Size #{$size}px não está definido em $typography-sizes.";
   }
};

@mixin primary($size) {
   font-family: $font-primary;
   @include font-size($size);
};

@mixin secondary($size) {
   font-family: $font-secondary;
   @include font-size($size);
}

@mixin pixel-to-rem($size) {
   font-size: rem($size);
}