@use "sass:math";
@use "sass:map";
@use "../util/functions"as *;

@mixin _set-font-style($font-family, $size) {
   font-family: $font-family;
   font-size  : px-to-rem($size);
}

@mixin font-primary($size) {
   $font-primary: sans-serif;
   @include _set-font-style($font-primary, $size);
}

@mixin font-secondary($size) {
   $font-secondary: sans-serif;
   @include _set-font-style($font-secondary, $size);
}